@using PagedList
@using PagedList.Mvc

@model PagedList.IPagedList<ModelEF.Model.loai_sp>

@{ ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; }
@using (Html.BeginForm("Index", "SanPham", FormMethod.Get))
{
<div class="col-lg-12 form-group"
     style="margin-top:15px;">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-4">

        </div>

        <div class="col-md-4">
            <input type="search" value="@ViewBag.SearchString" name="searchString" placeholder="Nhập từ khóa cần tìm kiếm" class="form-control" />


        </div>
        <div class="col-md-2">
            <input type="submit" value="Tìm kiếm" class="btn btn-danger" />

        </div>
    </div>

</div>}
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>STT</th>
        <th>ID</th>
        <th>
            Tên Loại
        </th>
        <th>
            Mô Tả
        </th>
        <th>Thao Tác</th>
    </tr>
    @{ var i = 1;}
    @foreach (var item in Model)
    {
<tr>
    <td>@i</td>
    <td>@item.ID</td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        @Html.ActionLink("Edit", "Update", new { id = item.ID.Trim() })

    </td>
</tr>i += 1;
            }

</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
