@using PagedList
@using PagedList.Mvc

@model PagedList.IPagedList<ModelEF.Model.UserAccount>

@{ ViewBag.Title = "Danh sách khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; }


@using (Html.BeginForm("Index", "KhachHang", FormMethod.Get))
{
<div class="col-lg-12 form-group"
     style="margin-top:15px;">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-4">

        </div>

        <div class="col-md-4">
            <input type="search" value="@ViewBag.SearchString" name="searchString" placeholder="Nhập từ khóa cần tìm kiếm" class="form-control" />


        </div>
        <div class="col-md-2">
            <input type="submit" value="Tìm kiếm" class="btn btn-danger" />

        </div>
    </div>

</div>}
<h2>Index</h2>
<table class="table">
    <tr>
        <th>Id</th>
        <th>
            Tên Tài Khoản
        </th>
        <th>
            Mật Khẩu
        </th>
        <th>
            Trạng Thái
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>@item.ID</td>
    <td>
        @Html.DisplayFor(modelItem => item.UserName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Password)
    </td>
    <td>
        @{var duyet = "";
            if (item.Status == 0)
            {
                duyet = "Bình thường";
            }
            else
            {
                if (item.Status == 1)
                {
                    duyet = "Admin";

                }
                else
                {
                    duyet = "Bị chặn";
                }
            } }
        @duyet
    </td>
    <td>


        @using (Html.BeginForm("Blocked", "KhachHang", FormMethod.Post))
        {
@Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, null, new { @class = "field-validation-error text-danger" })
                                        <input class="form-control" data-val="true" data-val-number="The field admin must be a number." id="ID" name="ID" type="hidden" value="@item.ID.Trim()">
                                                            <input class="form-control" data-val="true" data-val-length="The field tentk must be a string with a maximum length of 30." data-val-length-max="30" data-val-required="The tentk field is required." id="UserName" name="UserName" type="hidden" value="@item.UserName">
                                                                                <input class="form-control" data-val="true" data-val-length="The field matkhau must be a string with a maximum length of 200." data-val-length-max="200" data-val-required="The matkhau field is required." id="Password" name="Password" type="hidden" value="@item.Password">
                                                                                                    <input class="form-control" data-val="true" data-val-number="The field admin must be a number." id="Status" name="Status" type="hidden" value="2">
                                                                                                                        <div class="row">
                                                                                                                            <a class="btn btn-default" href="@Url.Action("Update", "KhachHang", new { id = item.ID.Trim()})">Sửa</a>
                                                                                                                            <input type="submit" value="Chặn" class="btn btn-danger" />
                                                                                                                        </div>}

    </td>
</tr>}

</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
